# Compiled files and binaries
*.o
*.out
*.so
*.dll
*.exe
*.dylib

# Build files
build/
*.log
*.aux
*.tmp

# macOS files
.DS_Store

# Python cache and env
__pycache__/
*.pyc
*.pyo
.env
.venv

# Backup files
*~
*.bak
*.swp
*.swo
*.old

# VS Code 
.vscode/
*.code-workspace

# Generated documentation
docs/_build/

# Bash files
compile_run.sh

# Shared lib
libnn.so

# Pycache
*.pyc

*.d
*.dep

# Debugging
*.core
*.dSYM/


